<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐列表</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="wap-font-scale" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/pages.css">
</head>
<body>
   <!--推荐列表-->
    <section id="areaBan">
        <div class="pic">
            <a href="javascript:;" class="block">
                <img src="../../images/you_cash.png" alt="you_cash" class="eq_resize">
            </a>
        </div>
    </section>
    <!--列表展示-->
    <section class="list_area">
        <div class="top_title txt_center">
            <h4 class="titles student"><span class="txt_block">学生推荐</span></h4>
            <a href="javascript:;">换一批</a>
        </div>
        <!--商品列表-->
        <div class="list_shop">
            <h3>五谷羊肉汤</h3>
            <div class="flex">
                <p>川大蓝色加勒比<span>9.5km</span></p>
                <p class="lab"><em class="tableBox eq_inherit over_hide">优惠</em></p>
            </div>
            <ul class="flex">
                <li><a href="javascript:;" class="block"><img src="../../images/soup01.png" alt="" class="eq_resize"></a></li>
                <li><a href="javascript:;" class="block"><img src="../../images/soup02.png" alt="" class="eq_resize"></a></li>
                <li><a href="javascript:;" class="block"><img src="../../images/soup03.png" alt="" class="eq_resize"></a></li>
            </ul>
            <p class="re_dis">学生优惠折扣：<span>9折起</span></p>
        </div>
        <!--商品列表-->
        <div class="list_shop">
            <h3>五谷羊肉汤</h3>
            <div class="flex">
                <p>川大蓝色加勒比<span>9.5km</span></p>
                <p class="lab"><em class="tableBox eq_inherit over_hide">优惠</em></p>
            </div>
            <ul class="flex">
                <li><a href="javascript:;" class="block"><img src="../../images/soup01.png" alt="" class="eq_resize"></a></li>
                <li><a href="javascript:;" class="block"><img src="../../images/soup02.png" alt="" class="eq_resize"></a></li>
                <li><a href="javascript:;" class="block"><img src="../../images/soup03.png" alt="" class="eq_resize"></a></li>
            </ul>
            <p class="re_dis">学生优惠折扣：<span>9折起</span></p>
        </div>
    </section>

   <!--最新店铺-->
   <section class="list_area">
       <div class="top_title txt_center">
           <h4 class="titles new_shop pad_bot"><span class="txt_block">学生推荐</span></h4>
           <a href="javascript:;" class="hide">换一批</a>
       </div>
       <section class="mode_list  mem_list">
           <ul class="flex">
               <li>
                   <div class="pic">
                       <img src="../../images/5.png" class="eq_resize" alt="">
                   </div>
                   <h4>金脊烤肉</h4>
                   <p>四川大学望江校区</p>
                   <div class="discount flex">
                       <em class="tableBox">6.2折</em>
                       <p>
                           <img src="../../images/member.png" alt="member">
                           <img src="../../images/student.png" alt="student">
                       </p>
                   </div>
               </li>
               <li>
                   <div class="pic">
                       <img src="../../images/2.png" class="eq_resize" alt="">
                   </div>
                   <h4>106号家常菜</h4>
                   <p>四川大学望江校区</p>
                   <div class="discount flex">
                       <em class="tableBox">5折</em>
                       <p>
                           <img src="../../images/member.png" alt="member">
                           <img src="../../images/student.png" alt="student">
                       </p>
                   </div>
               </li>
               <li>
                   <div class="pic">
                       <img src="../../images/1.png" class="eq_resize" alt="">
                   </div>
                   <h4>106号家常菜</h4>
                   <p>四川大学望江校区</p>
                   <div class="discount flex">
                       <em class="tableBox">5.5折</em>
                       <p>
                           <img src="../../images/member.png" alt="member">
                           <img src="../../images/student.png" alt="student">
                       </p>
                   </div>
               </li>
               <li>
                   <div class="pic">
                       <img src="../../images/2.png" class="eq_resize" alt="">
                   </div>
                   <h4>106号家常菜</h4>
                   <p>四川大学望江校区</p>
                   <div class="discount flex">
                       <em class="tableBox">5折</em>
                       <p>
                           <img src="../../images/member.png" alt="member">
                           <img src="../../images/student.png" alt="student">
                       </p>
                   </div>
               </li>
           </ul>
           <div class="find_all_btn">
               <a href="javascript:;" class="tableBox">查看全部店铺</a>
           </div>
       </section>
   </section>






</body>
</html>
<script type="text/javascript"  src="../../plugin/phoneSize/phoneSize.js"></script>
<script type="text/javascript"  src="../../js/jquery-2.2.4.min.js"></script>
