<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="wap-font-scale" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/pages.css">
</head>
<body>
    <!--我的  搜索地点-->
    <section class="searchBox flex">
        <img src="../../images/dingwei.png" alt="dingwei">
        <h3>城市：<i id="current_pos">成都</i></h3>
        <span>暂时无法选择其他地区</span>
        <a href="javascript:;" class="block skip">跳过</a>
    </section>
    <!--当前位置显示结果-->
    <section class="current_res">
        <ul>
            <li class="clearfix">
                <img src="../../images/001.png" alt="school_1" class="fl">
                <h5>川大片区</h5>
                <p>3000家周边店铺</p>
            </li>
            <li class="clearfix">
                <img src="../../images/002.png" alt="school_2" class="fl">
                <h5>川大片区</h5>
                <p>3000家周边店铺</p>
            </li>
            <li class="clearfix">
                <img src="../../images/003.png" alt="school_3" class="fl">
                <h5>川大片区</h5>
                <p>3000家周边店铺</p>
            </li>
        </ul>
    </section>





</body>
</html>
<script type="text/javascript"  src="../../plugin/phoneSize/phoneSize.js"></script>
<script type="text/javascript"  src="../../js/jquery-2.2.4.min.js"></script>
