<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>四川大学</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="wap-font-scale" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/pages.css">
</head>
<body>
    <!--会员标志牌-->
    <section class="mem_brand">
        <img src="../../images/guan.png" class="guan fl" alt="guan">
        <h3>会员卡</h3>
        <p>1234567897</p>
        <div class="discount_nums eq_color"><span class="tableBox">已优惠：999次</span></div>
        <em class="eq_color">到期时间限制：2018-06-01</em>
    </section>
    <!--会员特权-->
   <section class="mem_ps">
        <h3 class="mem_title">会员特权</h3>
        <ul class="flex">
           <li class="txt_center">
               <a href="javascript:;">
                   <em></em>
                   <span>超多折扣</span>
               </a>
           </li>
           <li class="txt_center">
               <a href="javascript:;">
                   <em></em>
                   <span>会员标志</span>
               </a>
           </li>
           <li class="txt_center">
               <a href="javascript:;">
                   <em></em>
                   <span>店铺推荐</span>
               </a>
           </li>
        </ul>
   </section>
    <!--会员福利-->
    <section class="mem_ps hide">
        <h3 class="mem_title">会员福利</h3>
        <div class="pic">
            <img src="../../images/mem_fu.png" alt="member_fu" class="eq_resize">
            <span class="mem_enjoy"></span>
        </div>
        <h3 class="mem_title">3000店铺</h3>
        <div class="pic">
            <img src="../../images/3000.png" alt="shops" class="eq_resize">
            <span class="mem_enjoy"></span>
        </div>
    </section>
    <!--会员用户-->
    <section class="mode_list  mem_list">
        <div class="top_title flex">
            <h3>近期消费店铺</h3>
        </div>
        <ul class="flex">
            <li>
                <div class="pic">
                    <img src="../../images/5.png" class="eq_resize" alt="">
                </div>
                <h4>金脊烤肉</h4>
                <p>四川大学望江校区</p>
                <div class="discount flex">
                    <em class="tableBox">6.2折</em>
                    <p>
                        <img src="../../images/member.png" alt="member">
                        <img src="../../images/student.png" alt="student">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="../../images/2.png" class="eq_resize" alt="">
                </div>
                <h4>106号家常菜</h4>
                <p>四川大学望江校区</p>
                <div class="discount flex">
                    <em class="tableBox">5折</em>
                    <p>
                        <img src="../../images/member.png" alt="member">
                        <img src="../../images/student.png" alt="student">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="../../images/1.png" class="eq_resize" alt="">
                </div>
                <h4>106号家常菜</h4>
                <p>四川大学望江校区</p>
                <div class="discount flex">
                    <em class="tableBox">5.5折</em>
                    <p>
                        <img src="../../images/member.png" alt="member">
                        <img src="../../images/student.png" alt="student">
                    </p>
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="../../images/2.png" class="eq_resize" alt="">
                </div>
                <h4>106号家常菜</h4>
                <p>四川大学望江校区</p>
                <div class="discount flex">
                    <em class="tableBox">5折</em>
                    <p>
                        <img src="../../images/member.png" alt="member">
                        <img src="../../images/student.png" alt="student">
                    </p>
                </div>
            </li>
        </ul>
    </section>


    <!--活动倒计时-->
    <section class="model eq_resize hide" id="modal_count">
        <div class="activity_mode">
            <!--悬挂线条-->
            <div id="rotateMid">
                <div class="line_area">
                    <p class="line left"></p>
                    <p class="line right"></p>
                </div>
                <!--标志牌-->
                <div class="brand over_hide">
                    <!--会员卡-->
                    <div class="member_card">
                        <img src="../../images/right_concer.png" alt="right_concer" class="eq_resize">
                    </div>
                    <div class="mem_vip_info clearfix">
                        <div class="guan_img fl">
                            <img src="../../images/guan.png" alt="guan_img" class="eq_resize">
                        </div>
                        <div class="fl txts">
                            <h3>四川大学</h3>
                            <p>123457788755</p>
                        </div>
                    </div>
                    <!--折扣  使用次数-->
                    <div class="count flex">
                        <p>折扣：9折</p>
                        <span>今日已使用3次</span>
                    </div>
                    <p class="stu_enjoy">学生优惠请搭配学生证可享受学生优惠</p>
                </div>
            </div>
            <!--倒计时动画加载效果-->
            <div id="count_down" class="flex over_hide">
                <em class="scape"></em>
                <p>
                    <span class="title">打折倒计时：</span>
                    <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
                </p>
            </div>
            <div class="txt_center">
                <p class="shop_name">一品火锅店</p>
            </div>
        </div>
    </section>
    <!--间隙空间-->
    <section class="bot_gap"></section>
    <!--选项卡-->
    <section id="nav_list">
        <ol class="flex">
            <li>
                <a href="../../index.html" class="block">
                    <em class="block"></em>
                    <span class="block">首页</span>
                </a>
            </li>
            <li class="active">
                <a href="javascript:;" class="block">
                    <em class="block"></em>
                    <span class="block">会员卡</span>
                </a>
            </li>
            <li>
                <a href="../person/person.html" class="block">
                    <em class="block"></em>
                    <span class="block">我的</span>
                </a>
            </li>
        </ol>
    </section>
</body>
</html>
<script type="text/javascript"  src="../../plugin/phoneSize/phoneSize.js"></script>
<script type="text/javascript"  src="../../js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="../../plugin/countDown/jquery.downCount.js"></script>
<script>
    /*
    * 会员模块封装------------
    * */
    (function(root,factory,plug){
        /*执行factory函数*/
        return factory($,plug)
    })(window,function($,plug){
        var _DEFAULT_={
              countArea:"",
              dis:15,//滑动的距离
              speed:400,//渐入时间
              countDown:function(){}//倒计时加载动画
        };

        //MemberMode的对象扩展
        $.fn[plug]=function(options){
            var settings=$.extend(this,_DEFAULT_,options);
            var self=this;
            self.countDown(settings.countArea);
            //倒计时滑动效果加载----
            var slideCount=function (){
                    $(this).stop().fadeIn(settings.speed,function(){
                        $(this).find(".activity_mode").animate({'top':0+"rem"},settings.speed,function(){
                            $(self).find("#rotateMid").addClass("start_animate");//增添摆动动画
                        })
                    });
                    //收回标志牌
                    $(this).on("touchstart",function(){
                        $(this).find(".activity_mode").animate({'top':-settings.dis+"rem"},settings.speed,function(){
                            $(self).find("#rotateMid").removeClass("start_animate");//移除摆动动画
                            $(self).fadeOut(settings.speed);
                        })
                    });
                };
            slideCount.call(this);
        }
    },"MemberMode");





    $("#modal_count").MemberMode({
        countArea:"#count_down",
        dis:12,
        //倒计时  时间记录
        countDown:function(ele){
            console.log(ele);
            var date=new Date();
            var day=date.getDate();
            var month=date.getMonth()+1;
            var year=date.getFullYear();
            //加载倒计时效果--------------------
            $(ele).downCount({
                date: month+'/'+day+'/'+year+' 19:00:00',
                offset: +8
            }, function () {
                alert('倒计时结束!');
            });
        }
    })













</script>