<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="wap-font-scale" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/pages.css">
</head>
<body>
    <!--我的  个人中心-->
    <section class="bg_center">
        <!--顶部信息-->
        <div class="top_info clearfix">
            <div class="fl pic">
                <img src="../../images/personCenter.jpg" alt="personCenter" class="eq_resize">
            </div>
            <div class="fl">
                <h3>LIUGANG</h3>
                <span class="user_normal txt_block"></span>
                <span class="user_vip txt_block"></span>
            </div>
        </div>
        <ul class="list_info flex">
            <li class="txt_center">
                <h5>999次</h5>
                <p>已折扣</p>
            </li>
            <li class="txt_center">
                <div class="border_line">
                    <h5>6000</h5>
                    <p>已关注</p>
                </div>
            </li>
            <li class="txt_center">
                <h5>3张</h5>
                <p>会员卡</p>
            </li>
        </ul>
    </section>
    <!--我的浏览-->
    <section class="view">
        <ol>
            <li class="flex">
                <p class="my_seen">我的浏览</p>
                <i class="txt_block"></i>
            </li>
        </ol>
    </section>
    <!--间隙空间-->
    <section class="bot_gap"></section>
    <!--选项卡-->
    <section id="nav_list">
        <ol class="flex">
            <li>
                <a href="../../index.html" class="block">
                    <em class="block"></em>
                    <span class="block">首页</span>
                </a>
            </li>
            <li>
                <a href="../memberCard/MemNoCard.html" class="block">
                    <em class="block"></em>
                    <span class="block">会员卡</span>
                </a>
            </li>
            <li class="active">
                <a href="javascript:;" class="block">
                    <em class="block"></em>
                    <span class="block">我的</span>
                </a>
            </li>
        </ol>
    </section>


</body>
</html>
<script type="text/javascript"  src="../../plugin/phoneSize/phoneSize.js"></script>
<script type="text/javascript"  src="../../js/jquery-2.2.4.min.js"></script>
